/* Navbar.css */

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  border-radius: 20px; /* Add rounded corners to the navbar */
}

.navbar-item {
  flex: 1;
  text-align: center;
  font-size: 23px;
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
}

.navbar-item:nth-child(even) {
  background-color: transparent; /* Remove background color from even items */
}

.navbar-item:nth-child(odd) {
  background-color: transparent; /* Remove background color from odd items */
}

.navbar-item a {
  text-decoration: none;
  color: #1D3557; /* Change the color to black */
  font-weight: bold;
  transition: color 0.3s; /* Add a transition for smooth color change */
}

/* Change color on hover */
.navbar-item a:hover {
  color: #A8DADC;
}

/* Change color when clicked */
.navbar-item a.active {
  color: #E63946;
}

.pkj {
  flex: 2; /* Make PKJ item larger */
  text-align: left; /* Align PKJ to the left */
  font-weight: bold; /* Make PKJ text bold */
  color: #E63946; /* Set PKJ text color to #E63946 */
  padding-left: 40px; /* Add left padding to PKJ */
}

.pkj a {
  font-size: 40px; /* Adjust the font size for PKJ */
}
