/* Profile.css */

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.profile-image {
  border: 2px solid white;
  border-radius: 50%;
  width: 300px;
  height: 350px; /* Increase the height to make the picture taller */
  margin-right: 20px;
}

.profile-info {
  font-family: 'Helvetica Neue', sans-serif;
}

.profile-info h2 {
  font-size: 24px;
  font-weight: bold;
}

.profile-info p {
  font-size: 16px;
}

.contact-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-icons a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
}

.contact-icons a:hover {
  color: yellow;
}
