.projects-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project {
  margin-bottom: 30px; /* Increase the margin to add more padding */
  border: 1px solid #ccc;
  padding: 35px; /* Add more padding */
  border-radius: 5px;
}

.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project a {
  text-decoration: none;
  color: #007bff;
}

.project a:hover {
  text-decoration: underline;
}

.project ul {
  list-style-type: disc;
  padding-left: 20px;
}
